<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xinshen.comp2100_meetingschedule">

    <application
        android:name=".MeetingApplication"
        android:allowBackup="true"
        android:icon="@mipmap/meetings_ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/meetings_ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--android:name=".main.MainActivity">-->

        <activity
            android:name=".main.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="xinshen.example.com"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".main.SearchActivity"></activity>
        <activity android:name=".main.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".main.MeetingDeadlineNotification"
            android:enabled="true"
            android:process="system"></service>
    </application>

</manifest>